<!DOCTYPE html>
<html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>	HOME | SendIT App</title>
        <link rel="stylesheet" href="../static/main.css" media="screen"/>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" media="screen">
    </head>
    <body>
        <div id="main_container">
            <header class="main_header">
                    <div class="right_header">
                   <img src="../static/images/ban.jpg" />
                    </div>
                    <a href="index.html"><h2 >SendIT App</h2></a>
                    
            </header>
            <div id="topnav">
                    <ul class="menu">
                        <li><a href="index.html" >Home</a></li>	
                        <li><a href="about.html" >About</a></li>
                        <li><a href="contact.html" >Contact </a></li>
                        <li><a href="register.html" >SignUp</a></li>
                    </ul>
                   
            </div>
            <aside id="left_content">
                    <img src="../static/images/home.jpg" />
            </aside>
            <section id="right_content">
                
                    <tr>
                      <td class="wel">
                          <tr>
                            <td class="text1">                                                           
                               <strong> <h2>Welcome to SendIT(u) Ltd</h2> </strong> 
                                
                                <hr >
                          </tr>
                          <tr>
                            <td class="text1">
                                <strong><p>
                                    At SendIT we understand your goal of having a warm and inviting home -- not just our services. We offer the most Affordable, a vast array of styles, and excellent value so that your goal can easily become a reality.</p>

<p>Discover thousands of products through our web site  and catalogs, then see and feel those products for yourself at our 216 stevenson ven. #110 Kololo,  locations.</p>
<p> You’ll find that our friendly, professional sales associates go out of their way to make you feel as welcome and omfortable in our store as you want your guests to be in your home.</p>

<p>You can partner with confidence at  SendIT because we guarantee the excellent quality, prices, and services. It’s that simple. We always stand behind your purchase.
(707)430-0000.</p>

<p>Licensed and Bonded</p>

</strong>
                            </td>
                          </tr>
                     
            </section>
            <footer class="footer">    
                    <div class="">
                          <p class="copyright">Copyright &copy; 2018 <a href="#">SendIT Courier App </a></p>
                          <p class="developer"><a href="#">Developed By venviko</a></p>
                    </div>
            </footer>
            
        </div>
    </body>

</html>