<!DOCTYPE html>
<html >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>	HOME | SendIT App</title>
        <link rel="stylesheet" href="../static/main.css" media="screen"/>
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" media="screen">
    </head>
    <body>
        <div id="main_container">
            <header class="main_header">
                    <div class="right_header">
                   <img src="../static/images/ban.jpg" />
                    </div>
                    <a href="index.html"><h2 >SendIT App</h2></a>
                    
            </header>
            <div id="topnav">
                    <ul class="menu">
                        <li><a href="index.html" >Home</a></li>	
                        <li><a href="about.html" >About</a></li>
                        <li><a href="contact.html" >Contact </a></li>
                        <li><a href="register.html" >SignUp</a></li>
                    </ul>
                   
            </div>
            <aside id="left_content">
                    <img src="../static/images/home.jpg" />
            </aside>
            <section id="right_content">
                <form id="Registerform" class="container" method="POST" action="">
                    <h3>Login</h3>
                                       
                    <div class="field">
                        <label for="email">Email:</label>
                        <input type="email" class="input" id="email" name="email" placeholder="name@domain.com" required "/>
                    </div>
                    <div class="field">
                        <label for="password">Password:</label>
                        <input type="password" class="input" id="password" name="password" placeholder="Password"/>
                       
                    </div>
                   
                    
                    <input type="submit" name="submit" id="submit" class="button" value="Submit"/>
                    <div class="terms"><p><small>If you do not have an account <a href="register.html">Register</a>
                    
                </form>
            </section>
            <footer class="footer">    
                    <div class="">
                          <p class="copyright">Copyright &copy; 2018 <a href="#">SendIT Courier App </a></p>
                          <p class="developer"><a href="#">Developed By venviko</a></p>
                    </div>
            </footer>
            
        </div>
    </body>

</html>