<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>SendIT | Home page</title>   
    <link rel="stylesheet" href="../static/main.css" media="screen"/>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" media="screen">

    
</head>

<body>
    <div class="container">
        <div class="topmenu">
            <div >
                <ul class="topnav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html">Contact</a></li>
                    <li><a href="index.html">Login</a></li>


                </ul>
            </div>
        </div>

        <div class="content">
            <div id="left_side">

                <img src="../static/images/home.jpg"  />

            </div>

            <div class="right_side">
                <div id="title">
                    <h3>SendIT Courier Service</h3>
                </div>
                <form action="#">

                    <p>
                    <label>&nbsp;&nbsp;&nbsp;Email:&nbsp;&nbsp;</label>
                    <input type="email" placeholder="name@domain.com" required />
                    </p>
                    <p>
                    <label>Password:</label>
                    <input type="password" placeholder="Password" required />
                    </p>
                    <input type="submit" class="accept" value="Login"  />
                </form>
                <div class="terms"><p><small>If you do not have an account <a href="register.html">Register</a>
                <div class="terms"><p><small>By submiting, you agree to the <a href="#">Terms and Conditions</a> here.</small></p></div>
                <div class="terms"><p><small>Admin login<a href="index.html"> Login</a> here.</small></p></div>
            </div>
        </div>
        <footer id="main_footer">    
			<div class="">
				  <p class="copyright">Copyright &copy; 2018. <a href="index.html">SendIT Courier Service App </a></p>
				  <p class="developer">Develop By Venviko</p>
			</div>
	  </footer>

    </div>
</body>

</html>